<!-- <div class="ui inverted dimmer" [class.active]='loading'>
  <div class="ui large text loader">Loading....</div>
</div> -->

<div class="jumbotron jumbotron-fluid">
  <div class="container">
      <h1 class="display-4" style="font-weight: 400; text-align: center; font-family:Georgia, 'Times New Roman', Times, serif ;">CoronaVirus Tracker</h1>
      <p class="lead" style="text-align: center;">This project is created by </p>
      <h2 style="font-weight: 700; text-align: center; font-family: serif;"> Rahul Prasad.</h2>
  </div>
</div>
