<!-- putting loader into countries.html -->

  <!-- <div class="ui inverted dimmer" [class.active]='loading'>
    <div class="ui large text loader">Loading....</div>
  </div> -->

  <div class="jumbotron bg-light text-center jumbotron-fluid">
    <div class="container">
        <h1 class="display-4" style="text-align: center; font-family: cursive; font-weight: bold; font-size: 30px;">Country Wise Corona-19 Status </h1>
        <hr>

        <div class="form-group">
            <label for="c" style="font-size: 15px; font-weight: bold; margin-top: 10px;">Select Country</label>
            <select name="" class="form-control" id="c" #input (change)='updateValues(input.value)'>
              <option value="{{con}}" *ngFor='let con of countries'>{{con}}</option>
            </select>
        </div>
    </div>
    <app-dashboard-cards [totalConfirmed]='totalConfirmed' [totalActive]='totalActive' [totalRecovered]='totalRecovered' [totalDeaths]='totalDeaths'></app-dashboard-cards>



    <div class= "row">
      <div class="col m-3">
        <table class="table">
          <thead>
            <tr>
              <th>Sr. No</th>
              <th>Date</th>
              <th>No. Cases</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor= 'let cs of selectedCountryInfo; index as i'>
              <td>{{i+1}}</td>
              <td>{{cs.date | date}}</td>    <!-- "| date" pipline date is used for fomatting date into dd/mm/yyyy    -->

              <td>{{cs.cases}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col m-4">
          <h4 style="text-align: center; font-weight: bold;">Line-Chart</h4>
          <google-chart
                [title]="chart.LineChart.title"
                [type]="chart.LineChart.type"
                [data]="dataTables"
                [dynamicResize]= "chart.LineChart.dynamicResize"
                [options]="chart.LineChart.options"
                [width]="chart.LineChart.width"
                [height]="chart.LineChart.height">
          </google-chart>

          <h4 style="text-align: center; font-weight: bold;">Column-Chart</h4>
          <google-chart
              [title]="chart.ColumnChart.title"
              [type]="chart.ColumnChart.type"
              [data]="dataTables"
              [dynamicResize]= "chart.ColumnChart.dynamicResize"
              [options]="chart.ColumnChart.options"
              [width]="chart.ColumnChart.width"
              [height]="chart.ColumnChart.height">
          </google-chart>

          <h4 style="text-align: center; font-weight: bold;">Histogram-Chart</h4>
          <google-chart
              [title]="chart.HistogramChart.title"
              [type]="chart.HistogramChart.type"
              [data]="dataTables"
              [dynamicResize]= "chart.HistogramChart.dynamicResize"
              [options]="chart.HistogramChart.options"
              [width]="chart.HistogramChart.width"
              [height]="chart.HistogramChart.height">
          </google-chart>
        </div>
    </div>
</div>
